problema1.exe
problema2.exe
problema3.exe
problema4.exe
problema5.exe
problema5_1.exe
problema6.exe
problema7.exe
problema7_1.exe
problema7_2.exe
problema8.exe
problema9.exe
problema10.exe

libro.txt
arc.txt
arc1.txt
arc2.txt
arc5.txt


arc9.dat
arc10.dat
arc11.dat
ad5.dat
ad6.dat
esc.dat
car1.dat
car2.dat
car3.dat
car4.dat
car5.dat