strstr.exe
problema01.exe
problema01_1.exe
problema02.exe
problema02_1.exe
problema03.exe
problema03_1.exe
problema04.exe
problema04_1.exe
problema05.exe
problema05_1.exe
problema06.exe
problema06_1.exe
problema07.exe
problema07_1.exe
problema07_2.exe

arc.txt
arc1.txt
arc2.txt
arc3.txt
arc4.txt
arc5.txt


doc.dat
ad5.dat
