inspirationsWords.exe
inspirationsWords_read.exe
writeWords.exe
readWords.exe
registroTiempo.exe
read_RegistroTiempo.exe

paradigma01.exe
read_paradigma01.exe

myWords.txt
habitos.txt

estructura.dat
